<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>

    <!-- incluir vue -->
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <select v-for="cor in cores" v-model="cor.selecionarOpcao">
            <option v-for="opcao in cor.opcoes" :value="opcao">
                {{ opcao }}
            </option>
        </select>
    </div>

    <!-- scripts -->
    <script src="js/app.js"></script>
</body>

</html>